body{
  background-image: url('./spaceImage.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.builder-box{
  /* color: purple; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 12vw;
  margin-top: 10vh;
  /* background-color: pink; */
  width: 75vw;
  height: 150px;
}

.title{
  color: white;
  font-size: 30px;
}

.main-header {
  width: 100%;
  background-color: black;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items{
  color: white;
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.nav-buttons{
  padding: 5px;
  background-color: #17347c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white
}

.fleet-picker{
  color: white;
  font-size: 24px;

}

.choice-preview{
  color: white;
  font-size: 30px;
  width: 75vw;
  height: 50vh;
  /* background-color: blue; */
  margin-left: 12vw;
  display: flex;
  justify-content: space-around;
}

.builder-intro{
  color: white;
  font-size: 30px;
  height: 10vh;
  /* background-color: blue; */
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.builder-intro-home{
  color: white;
  font-size: 40px;
  height: 45vh;
  /* background-color: blue; */
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.fleet-items{
  color: white;
  font-size: 25px;
  width: 75vw;
  height: 10vh;
  /* background-color: blue; */
}

.fleet{
  width: 100vw;
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}